body {
  background: url(img/triangles.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  padding: 50px 0px;
}

section {
  text-align: left;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px lightgrey;
  padding: 30px;
  margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
label {
  color: #4a4e69;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

h1,
section h2 {
  font-size: 24px;
}

header h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
  text-align: center;
}

p,
ul,
ol {
  color: #4a4e69;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

nav ul {
  justify-content: center;
  display: flex;
  list-style: none;
  padding-right: 25px;
}

nav li {
  padding-right: 15px;
}

a {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

nav a {
  text-decoration: none;
  color: #4a4e69;
}

.text-center {
  text-align: center;
}

#profile-pic {
  border-radius: 50%;
  box-shadow: 0px 4px 6px 2px lightgrey;
  max-width: 70%;
}

.icon {
  padding: 5px;
}

main {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

textarea {
  width: 75%;
  height: 70px;
  margin-top: 20px;
}

#contact {
  background: none;
  box-shadow: none;
}

fieldset {
  border: none;
  box-shadow: none;
  background: none;
  padding: 0;
  margin: 0;
}

#contact h3 {
  font-size: 26px;
}

.technologies,
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex {
  text-align: center;
}

.flex a {
  padding: 5px;
  border: 2px solid #909090;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px lightgrey;
  text-decoration: none;
  text-align: center;
}

/* Media Queries: Desktop */
@media screen and (min-width: 800px) {
  #primary-wrapper {
    display: flex;
  }

  header {
    position: fixed;
  }

  header {
    width: 40%;
  }

  #header-padder {
    width: 40%;
  }

  main {
    width: 60%;
  }

  section {
    max-width: 500px;
  }
}

@media screen and (min-width: 475px) {
  .technologies {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 375px) {
  .flex {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
